
.hero-sec {
    width: 100%;
    height: 100vh;
    background: url(../img/bg-particle.png) var(--theme-dark);
    position: relative;
    /* overflow: hidden; */
}
.wave {
    position: absolute;
    width: 100%;
    height: 662px;
    left: 0;
    /* top: 101px; */
    background: url(24839-ai.png);
    mix-blend-mode: overlay;
    bottom: 0;
}
.hero-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 50.71px;
    line-height: 61px;
    text-transform: capitalize;
    
    color: #FFFFFF;
}
.hero-btn {
    padding-left: 50px;
    padding-right: 50px;
}

.light-left {
    position: absolute;
width: 286px;
height: 286px;
left: 0;
top: 502px;

}
.light-right {
    position: absolute;
width: 286px;
height: 286px;
right: 0;
top: 0px;

}

.center-logo {
    position: absolute;
    left: 0;
  right: 0;
    margin: auto;
    top: -150px;
    z-index: 100;
}

.main-logo {
    width: 200px;
}

.pa-warpper {
    position: absolute;
    top: 0;
    z-index: 1100;
    right: 0;
    left: 0;
    margin: auto;
    width: 800px;
    margin-top: -230px;
}
.content-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    position: relative;
    z-index: 100;
    margin-top: 20px;
}
.type-wp {
    
}


.type-support, .hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;
    text-align: center;
    text-transform: capitalize;
    color: var(--theme-color2);
    text-transform: uppercase;
}
.type-wp {
    display: flex;
}
.type-support {
    margin-right: 20px;
    color: var(--theme-color2);
}
.dropdown-menu {
    margin-left: 7px;
    background-color: var(--theme-color2);
}
.theme-text {
    color:  var(--theme-color2) !important;
}
.dropdown-menu .dropdown-item {
    color: #fff;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 7px;
}
.dropdown-menu .dropdown-item:hover {
    background-color: var(--theme-color);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.bg-dark {
    background-color: var(--theme-dark) !important;
}
.spacer {
    padding-top: 100px;
    padding-bottom: 100px;
}
.card {
    position: relative;
    z-index: 100;
}
.token-col {
    padding-right: 50px;
    padding-left: 50px;
}
.card-theme1{
    border: none;
    background-color: var(--theme-dark);
    position: relative;
    overflow: hidden;
}

.card-theme1 .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff0;
    border: none;
    color: #fff;
    list-style: circle;
}
.card-theme1 .list-group-item:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 20px;
    border-radius: 50%;
    
}
.token-col .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--theme-color);
    border: none;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.token-col .form-control{
    height: 45px;
    border: none;
}
.btn.btn-primary {
    background-color: var(--theme-color2);
}
.btn-outline-primary {
    border-color: var(--theme-color2);
    color: var(--theme-color2);
}
.art-spin {
    position: absolute;
    right: -100px;
    width: 500px;
    height: 500px;
    bottom: 0;
    opacity: .2;
    z-index: 1;
    
}
.add-part {
    position: relative;
}
.add-part:before {
    content: '';
    background: url(./img/part.png);
}
.hero-row {
    align-items: center;
    height: 100vh;
    margin-top: -50px;
}

.bg-anim {
    --speed: 15s;
    background-position: 0px 0px;
  -webkit-animation: animatedBackgroundtop var(--speed) linear infinite;
  -moz-animation: animatedBackgroundtop var(--speed) linear infinite;
  animation: animatedBackgroundtop var(--speed) linear infinite; 
  background-attachment: fixed;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
		    to { background-position: -400px 0; }
  }
  
  @-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
		    to { background-position: -400px 0; }
  }
  
  @keyframes animatedBackgroundtop {
    from { background-position: 0 0; }
		    to { background-position: -400px 0; }
  }
  
  @-webkit-keyframes animatedBackgroundtop {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
  }

  .token-col .form-control {
    height: 45px;
    border: none;
    background: transparent;
    border: 1px solid #fff;
    height: 60px;
    color: #fff;
}

/* glow button */

.glow-btn{
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    margin: 40px 0;
    color: #19AAFC;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
   
}
.glow-btn:hover{
    background: #19AAFC;
    text-decoration: none;
    color: #050801;
    box-shadow: 0 0 5px #19AAFC,
                0 0 25px #19AAFC,
                0 0 50px #19AAFC,
                0 0 180px #19AAFC;
   
}
.glow-btn:nth-child(1){
    filter: hue-rotate(270deg);
}
.glow-btn:nth-child(2){
    filter: hue-rotate(110deg);
}
.glow-btn span{
    position: absolute;
    display: block;
}
.glow-btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(120deg,transparent,#19AAFC);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.glow-btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#19AAFC);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.glow-btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#19AAFC);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


.glow-btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--theme-color2));
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* timeline */

.card-view {
-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
border-radius: 4px;
padding: 22px;
margin-bottom: 20px;
background: #fff;
}
.flex-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.spacer {
padding-top: 50px;
padding-bottom: 50px;
}
.bg-gray {
background: #F8F8F8;
}
.no-margin {
margin: 0 !important;
}
.flex-row .flex-col {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

/* common css up */
.timeline {
list-style: none;
padding: 0;
margin: 0;
position: relative;
width: 85%;
}
.timeline li.right {
margin-left: auto;
}
.timeline li:first-child {
margin-top: 0;
padding-top: 0px;
}
.timeline li:last-child {
    padding-bottom: 0px;
    }
.timeline li {
width: 47%;
position: relative;
padding-top: 50px;
padding-bottom: 50px;
}
.timeline li:hover:after {
    background-color: var(--theme-color2);
}
.timeline li:hover p{
    color: var(--theme-color2)  !important;
}
.timeline li:after {
    content: '';
    width: 4px;
    height: 100%;
    background: #E4E4E4;
    display: block;
    position: absolute;
    left: -30px;
    /* right: 0; */
    /* margin: auto; */
    top: 0;
}
.timeline li:before {
content: '';
--size: 16px;
width: var(--size);
height: var(--size);
display: block;
position: absolute;
left: -36px;
border-radius: 50%;
background: #19AAFC;
text-decoration: none;
color: #050801;
box-shadow: 0 0 5px #19AAFC,
            0 0 25px #19AAFC,
            0 0 50px #19AAFC,
            0 0 80px #19AAFC;
            z-index: 1;
}
.time-thumb-row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-bottom: 20px;
}
.time-thumb-row .time-content {
margin-left: 14px;
}
.time-thumb-row .time-content h4 {
margin: 0;
color: #212121;
font-weight: 600;
font-size: 17px;
}
.time-thumb-row .time-content time {
font-size: 14px;
color: #666666;
}
.timeline li.left:before {
left: inherit;
right: -48px;
}
.width100 {
width: 100%;
max-height: 500px;
object-fit: cover;
object-position: center;
}


.fade-in[data-scroll] {
opacity: 0;
will-change: transform, scale, opacity;
-webkit-transform: translateY(6rem) scale(0.93);
    transform: translateY(6rem) scale(0.93);
transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-in-right[data-scroll] {
opacity: 0;
will-change: transform, scale, opacity;
-webkit-transform: translatex(6rem) scale(0.93);
    transform: translatex(6rem) scale(0.93);
transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.fade-in-left[data-scroll] {
opacity: 0;
will-change: transform, scale, opacity;
-webkit-transform: translatex(-6rem) scale(0.93);
    transform: translatex(-6rem) scale(0.93);
transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.fade-in[data-scroll="in"], .fade-in-right[data-scroll="in"] ,.fade-in-left[data-scroll="in"] {
opacity: 1;
-webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
}

p {
color: #5d5d5d;
line-height: 1.5;
}
.tm-label {
    position: absolute;
    left: -290px;
    font-size: 24px;
    color: var(--theme-color2);
    text-align: right;
    top: -10px;
    width: 230px;
    margin-top: 50px;
}
.timeline li {
    position: relative;
}
.timeline li p {
    margin: 0;
}

.footer-links li a {
    text-decoration: none;
    color: #dcdcdc;
    display: block;
    padding: 10px 0;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    font-weight: 300;
}
.footer-links {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-links h4 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--theme-color2);
}
.site-footer p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    color: #dcdcdc;
}
.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.social-icons li a {
    text-decoration: none;
    display: block;
}
.social-icons li a {
    width: 30px;
  margin-right: 20px;
}
.social-icons li a svg {
    fill:var(--theme-color2);
}
.theme-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(63 170 251 / 51%);
    padding-bottom: 60px;
}
.sticky-icon {
   position: fixed;
   right: 30px;
   bottom: 20px;
   z-index: 1;
}
.sticky-icon svg{
    width: 60px;
    fill: var(--theme-color);
}
.wii {
    
}
.b1 {
font-style: normal;
font-weight: 800;
font-size: 30.3704px;
line-height: 19px;
text-transform: capitalize;

color: #17ACFC;
}
.b1t {
font-weight: 300;
font-size: 17.7161px;
line-height: 22px;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}
.b2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 44.7134px;
    line-height: 27px;
    /* identical to box height, or 61% */
    
    text-transform: capitalize;
    
    color: #17ACFC;
 }
 .b2t {
   
    font-weight: 300;
    font-size: 22.3567px;
    line-height: 27px;
    /* or 122% */
    text-align: center;
    text-transform: capitalize;
    
    color: #FFFFFF;
 }
 .b4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 25.9259px;
    line-height: 16px;
    text-transform: capitalize;
    
    color: #17ACFC;
 }
 .b4t {
    font-weight: 300;
    font-size: 15.1235px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    
    color: #FFFFFF;
 }
 .wbox {
     text-align: center;
     padding-left: 15px;
    padding-right: 15px;
 }
 .wbox img {
     padding: 20px 0;
 }
 .arch-row {
     position: relative;
 }
 /* .arch-row:before {
   content: '';
   background: url(../img/arch.svg);
   position: absolute;
   width: 612px;
   height: 57.51px;
   left: 288.5px;
   top: 283.49px;
   border: 1px dashed #00C7FB;
   width: 500px; 
   height: 100px;  
   border: solid 5px #000;
   border-color: #000 transparent transparent transparent;
   border-radius: 50%/100px 100px 0 0;
} */

.arch {
    position: absolute;
    width: 752px;
    height: 67.51px;
    left: 0px;
    top: 70px;
    right: 0;
    margin: auto;

}
.progress {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50px;
  }
  
  .progress-wrap {
    background: #17ACFC;
      border: 2px solid #17ADFC;
    margin: 0px 0;
    overflow: hidden;
    position: relative;
  }
  .progress-wrap .progress-bar {
    background: #010915;
    left: 0;
    position: absolute;
    top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    
    
  }
  .p18 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #EAEAEA;
  }
  .lora-heading {
      
font-family: Lora;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 42px;
color: #19AAFC;
margin-bottom: 0;
  }
  .text-bold {
      font-weight: 700;
  }
  .card-glow {
    background-color: transparent;
    border-color: var(--theme-color2);
    color: #fff;
    transition: all .2s;
    height: 100%;
  }
  .card-glow:hover {
    /* box-shadow: 0 0 5px #19aafc, 0 0 25px #19aafc, 0 0 50px #19aafc, 0 0 80px #19aafc; */
    transform: translateY(-15px);
    filter: drop-shadow( 0 0 5px #19aafc)
    drop-shadow( 0 0 25px #19aafc)
    drop-shadow(0 0 30px #19aafc)
    drop-shadow(0 0 60px #19aafc);
  }
.card-glow .card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
 
    color: #E2E2E2;
    
  }
  .card-glow .card-title {
    font-weight: 700;
    
}
.power-box {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.power-box h4{
    font-weight: 700;
    font-size: 21px;
    color: #00C7FB;
    margin-top: 30px;
    margin-bottom: 20px;
}
.power-box p{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #DFDFDF;
    
}
.mbox h2{
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 78px;
/* identical to box height */

text-align: center;
text-transform: capitalize;

color: #00C7FB;
}
.mbox p{
font-weight: 300;
font-size: 21px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin: 0;

}
.f-bg {
    position: relative;
}
.f-bg:before {
    content: '';
    background: url(../img/block-chian-particle.svg) center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: .3;
}
.por {
    position: relative !important;
}
.btn-f-box {
    display: flex;
    justify-content: center;
}
.btn-f-box .btn {
    margin-left: 10px;
    margin-right: 10px;
}